@import "tailwindcss";

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  display: none;
}

/* Track styles */
::-webkit-scrollbar-track {
  /* background: #f1f1f150; */
}

/* Handle styles */
::-webkit-scrollbar-thumb {
  background: #a4a5a550;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #87878750;
}
